.movies__more {
  margin: 0 auto 80px;
  max-width: 1140px;
}

.movies__moreBtn {
  width: 100%;
  height: 36px;
  border: none;
  background-color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
}

.movies__moreBtn:hover {
  transition: opacity 0.4s linear;
  opacity: 0.8;
  cursor: pointer;
}

.movies__error {
  width: fit-content;
  margin: 10px auto;
  color: #ff6838;
}

.movies__searchError {
  width: fit-content;
  margin: 10px auto;
  color: #ff6838;
}

@media (max-width: 1199px) {
  .movies__more {
    max-width: 800px;
  }
}

@media (max-width: 829px) {
  .movies__more {
    max-width: 708px;
  }
}

@media (max-width: 709px) {
  .movies__more {
    max-width: 505px;
  }
}

@media (max-width: 549px) {
  .movies__more {
    max-width: 292px;
  }
}
