.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__movies {
  display: flex;
  gap: 16px;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link_active {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.navigation__link_light {
  color: #ffffff;
  line-height: 3;
}

.navigation__link:hover {
  transition: opacity 0.4s linear;
  opacity: 0.7;
}

.navigation__profile-caption {
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__profile-caption_light {
  padding: 8px 16px;
  color: #ffffff;
  border: 2px solid #f5f5f5;
  border-radius: 20px;
}

.navigation__profile-caption:hover {
  transition: opacity 0.4s linear;
  opacity: 0.7;
}

.navigation__profile-icon {
  margin-left: 24px;
}

.navigation__burger-btn {
padding: 0;
  border: none;
  background-color: transparent;
  display: none;
}

.navigation__burger-btn:hover {
  transition: opacity 0.4s linear;
  opacity: 0.7;
  cursor: pointer;
}

.navigation__close-btn {
 background: url(../../images/Close.svg);
 padding: 0;
 width: 35px;
 height: 26px;
 border: none;
 margin: 26px 22px 100px 466px;
}

.navigation__close-btn:hover {
  transition: opacity 0.4s linear;
  opacity: 0.7;
  cursor: pointer;
}

.navigation__close-btn_disabled {
  display: none;
}

.navigation__link__closed {
  display: none;
}

@media (max-width: 999px) {
  .navigation {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 520px;
    height: 100vh;
    background-color: #ffffff;
    transition: transform 0.5s linear;
    transform: translateX(100%);
  }

  .navigation__open {
    transition: transform 0.5s linear;
    transform: translateX(0);
    z-index: 5;
  }

  .navigation__movies {
    flex-direction: column;
    margin: 0 auto;
    max-width: 340px;
    align-items: center;
    border-bottom: 28px;
  }

  .navigation__link_light {
    color: #000000;
  }

  .navigation__burger-btn {
    z-index: 1;
    display: block;
  }

  .navigation__link {
    width: max-content;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .navigation__link_active {
    font-size: 18px;
    line-height: 1.8;
    border-bottom: 2px solid;
  }

  .navigation__profile-caption {
    justify-content: center;
    margin-bottom: 92px;
  }
}

@media (max-width: 649px) {
  .navigation {
    width: 320px;
  }

  .navigation__link {
    margin-bottom: 5px;
  }

  .navigation__profile-caption {
    justify-content: center;
    margin-bottom: 48px;
  }

  .navigation__close-btn {
    margin: 13px 13px 100px 275px;
   }
}
