.footer__background {
  background-color: #fafafa;
}

.footer {
  max-width: 1140px;
  margin: 0 auto;
}

.footer__title {
  margin: 0 auto 20px;
  padding-top: 88px;
  color: #a0a0a0;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

.footer__captions {
  border-top: 1px solid #e8e8e8;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 20px 0 0;
  font-size: 13px;
  font-weight: 400;
}

.footer__links {
  margin: 20px 0 0;
}

.footer__link {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
}

.footer__link:first-child {
  margin-right: 20px;
}

.footer__link:hover {
  transition: opacity 0.4s linear;
  opacity: 0.7;
}

@media (max-width: 1199px) {
  .footer {
    max-width: 800px;
  }

  .footer__title {
    padding-top: 58px;
  }

  .footer__captions {
    max-width: 708px;
    margin: 0 auto;
  }
}

@media (max-width: 829px) {
  .footer {
    max-width: 768px;
  }
}

@media (max-width: 709px) {
  .footer {
    max-width: 505px;
  }

  .footer__title {
    margin: 0 auto 21px;
    padding-top: 60px;
    font-size: 12px;
  }

  .footer__captions {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .footer__year {
    margin-top: 0;
    font-size: 13px;
    font-weight: 400;
  }

  .footer__links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__link:first-child {
    margin: 0;
  }
}

@media (max-width: 549px) {
  .footer {
    max-width: 284px;
  }
}
